.snack-container-main {
  max-width: 100vw;
  padding-left: 12px;
  padding-right: 12px;
}

.snack-container-main .app-select-grid{
  background-color: #ffffff;
}

.snack-container-main .apt-grid.background-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.snack-container-main .apt-grid.background-light {
  background-color: rgba(0,0,0,0.05);
}