header.header-main {
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 8px 6px -6px #0000001f;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 3;
}

.header-main .header-content .header-title {
  text-align: left;
}

.header-main .header-content .header-settings {
  text-align: right;
}

.header-main  .settings-dropdown-main {
  text-align: right;
}